*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks! */
html {
  color-scheme: light dark;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  background-color: #eff0f2;
  display: grid;
  place-items: center;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.main-layout {
  min-height: 100vh;
  min-height: 100dvg;

  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #fff;
  width: 500px;
  padding: 1rem;
}

header {
  margin-bottom: 2rem;
}
header img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-bottom: 1.8rem;
}

header h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.72px;
}

header span {
  font-size: 14px;
  font-weight: 475;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.05px;
}

.badge-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}
.badge-container div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.badge-container span {
  font-size: 13px;
  font-weight: 475;
  line-height: 16px;
}
